.kithcenitem {
	transition: all 500ms ease;
}
.one img {
		transition: all 320ms ease;
}
.one:hover img{
	transform: rotateY(180deg);

	opacity: 0;
  

}
.imgreplace {
	transform: rotateY(180deg);
		transition: all 500ms ease;
}
.one:hover .imgreplace {
	background: url(../img/kitchens/american2.jpg) no-repeat;
	transform: rotateY(0deg);

}



.imgwrap h2 {
	position: absolute;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	transform: translateX(-300px);
	opacity: 0;
		transition: all 200ms ease;


}
.imgwrap { 
	overflow: hidden;
	background-color: black;
	z-index: 9;
}
.two:hover img {
	opacity: 0.5;
}
.two:hover h2 {
		transform: translateX(30px);
	opacity: 1;

}